
/* ACCEUIL */
.photoacceuil {
    background-image: url('/image/fond.jpg');
    width: 9000px;
    height: 900px;
}

.flexxx{
    position: fixed;
}
/* PAGE PRESENTATION */
#presentation{
    line-height: 5.5;
    background-color: rgb(0, 0, 0);
}
/* PAGE CREATION */
#creation {
    background-color: rgb(0, 0, 0);
}
.card {
    background-color: rgba(234, 241, 238, 0);
}
/* PAGE COMPETENCES */
#competences{
    background-color: rgb(0, 0, 0);
}

.triangle-code {
    display : inline-block;
    height : 0;
    width : 0;
    border-right : 77px solid transparent;
    border-bottom : 150px solid;
    border-left : 73px solid transparent;
    text-align: center;
    transform: rotate(35deg);
    transition: transform .2s;
    
   }


.triangle-code:hover {
    transform: rotate(0deg);
}

.list-triangle {
    margin-right: 7rem;
}

.lignehtml{
    position: absolute;
    top: 102px;
    left: -51px;
    width: 104px;
}
.lignejs{
    position: absolute;
    top: 102px;
    left: -51px;
    width: 104px;
}
.lignecss{
    position: absolute;
    top: 102px;
    left: -51px;
    width: 104px;
}
.lignebootstrap{
    position: absolute;
    top: 102px;
    left: -51px;
    width: 104px;
}
.lignephp{
    position: absolute;
    top: 102px;
    left: -51px;
    width: 104px;
}
.lignewordpress{
    position: absolute;
    top: 102px;
    left: -51px;
    width: 104px;
}
.lignesymfony{
    position: absolute;
    top: 102px;
    left: -51px;
    width: 104px;

}
.lignemysql{
    position: absolute;
    top: 102px;
    left: -51px;
    width: 104px;
}



/* PAGE EXPERIENCES*/
#experiences{
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: 0%;
   
 
}
/* PAGE CONTACT */
#contact { 
  background-color: black;
}
/* PAGE FOOTER */
.footer {
    background-color: black;
}

